/*
Color-Palette in use:- https://colorhunt.co/palette/94114
1. #66bfbf
2. #eaf6f6
3. #fcfefe
4. #f76b8a
*/

body {
  background-color: #eaf6f6;
  margin: 0;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 3px;
  /*margin-bottom: 5px;*/
  width: 10%;
}

table {
  background-color: #ffd3b6;
  border-collapse: collapse;
  border-radius: 15px 30px;
  margin: 0;
  margin-left: 15px;
  padding: 30%;
}

td {
  padding-left: 15px;
  padding-right: 15px;
}

h1 {
  color: #66bfbf;
}

h2 {
  color: #66bfbf;
}

h3 {
  background-color: #fcfefe;
  border-radius: 15px 30px;
  color: #66bfbf;
  margin: 0;
  margin-left: 15px;
  padding-left: 10px;
  width: 15%;

}

h4 {
  color: #66bfbf;
}

h5 {
  color: #66bfbf;
}

h6 {
  color: #66bfbf;
}

ul {
  background-color: #ffd3b6;
  border-radius: 15px 30px;
  margin: 0;
  margin-left: 15px;
  width: auto;
}

img {
  background-color: black;
  border-radius: 25px;
  padding-bottom: -1%;
  padding-top: 3%;

}

a {
  color: #66bfbf;
}

.circular{
  border-radius: 100%;
}
